<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Sistema de Información de Investigadores, Empresas y Becarios</title>

	<script src="/static/js/jquery.js"></script> 

	{% block head %}
	{% endblock head %}

</head>
<body>
	<header id="site_head"><!--useful to create the 960px limit-->

	</header>
	<div id="main_content"><!--useful to create the 960px limit-->

<table width=900>
<tr>
</tr>
</table>
	{% block titulo %}
	{% endblock titulo %}

	{% block body %}
	{% endblock body %}
	</div>
		<footer class="bottom">
			<p>...</p>
		</footer>
</body>
</html>

